.rightPlaceBottomBox > .marketBox > .marketDescription {
    display: none;
}
.rightPlaceBottomBox > .marketBox > .marketPrice {
    display: none;
}

@media screen and (max-width: 450px) {
    .rightPlaceBottomBox .marketBox {
        width: 165px;
        height: 231px;
        margin-left: 15px;
    }

    .rightPlaceBottomBox .marketBox img {
        width: 100%;
    }

    .rightPlaceBottomBox > .marketBox h2{
        position: absolute;
        top: 130px;
        width: 160px;
        height: 48px;
        margin-left: 10px;
        font-size: 24px;
        text-align: left;
    
        color: #FFFFFF;
    }

    .rightPlaceBottomBox > .marketBox .marketBuyNow {
        position: absolute;
        top: 200px;
        font-size: 12px;
        text-align: left;
        margin-left: 10px;

        color: #FFFFFF;
    }

    /*Recomend section*/

    .recomendedBox > .marketBox > img {
        width: 145px;
        height: 145px;
        top: 1018px;
    }

    .recomendedBox > .marketBox {
        margin-left: 25px;
        margin-top: 10px;
    }

    .recomendedBox > .marketBox h2 {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
    }

    .recomendedBox > .marketBox > .marketBuyNow{
        display: none;
    }

    .recomendedBox > .marketBox > .marketDescription {
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
        text-align: center;

        color: #666666;
    }

    .recomendedBox > .marketBox > .marketPrice{
        
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 451px){
    .rightPlaceBottomBox > .marketBox {
        margin-left: 24px;
    }
    .rightPlaceBottomBox > .marketBox h2{
        position: absolute;
        top: 924px;
        width: 160px;
        height: 48px;
    
    
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    
        line-height: 24px;
        text-align: left;
    
        color: #FFFFFF;
    }
    .rightPlaceBottomBox > .marketBox .marketBuyNow {
        position: absolute;
        top: 982px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    /*Recomend section*/

    .recomendedBox > .marketBox > img {
        width: 145px;
        height: 145px;
        top: 1039px;
    }

    .recomendedBox > .marketBox {
        margin-left: 25px;
        margin-top: 10px;
    }

    .recomendedBox > .marketBox h2 {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
    }

    .recomendedBox > .marketBox > .marketBuyNow{
        display: none;
    }

    .recomendedBox > .marketBox > .marketDescription {
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
        text-align: center;

        color: #666666;
    }

    .recomendedBox > .marketBox > .marketPrice{
        top: 1227px;
        position: absolute;

        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        margin-left: 40px;
    }
}