.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: Proxima Nova;
    flex-direction: column;
}

h2, h3, h4{
    position: absolute;
    font-family: Chloe;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.apresentation-box{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 450px){
    .mobile-apresentation-image {
        width: 100%;
    }
    .desktop-apresentation-image{
        display: none;
    }
    .apresentation-box{
        margin-bottom: 24px;
    }
    .apresentation-box div {
        position: absolute;
        width: 161px;
    }
    .apresentation-box h2 {
        font-size: 18px;
        line-height: 18px;
        left: 191px;
        top: 146px;
    }
    .apresentation-box p{
        position: absolute;
        margin-top: 40px;
        font-family: Proxima Nova;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 0em;
        text-align: center;
    }
}

@media screen and (min-width: 451px) and (max-width: 850px){
    .desktop-apresentation-image{
        width: 100%;
    }
    .mobile-apresentation-image {
        display: none;
    }
    .apresentation-box{
        margin-bottom: 60px;
    }
    .apresentation-box div{
        display: flex;
        position: absolute;
        right: 26px;
        justify-content: center;
        top: 29vw
    }
    .apresentation-box h2 {
        font-size: 22px;
        line-height: 22px;
    }
    .apresentation-box p {
        font-size: 16px;
        margin-top: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 9px;
        letter-spacing: 0em;
        text-align: center;
        color: #666666;
    }
}

@media screen and (min-width:851px){
    .desktop-apresentation-image{
        width: 100%;
    }
    .mobile-apresentation-image {
        display: none;
    }
    .apresentation-box{
        margin-bottom: 60px;
    }
    .apresentation-box div{
        display: flex;
        position: absolute;
        width: 384px;
        right: 25vh;
        justify-content: center;
    }
    .apresentation-box h2{
        font-size: 36px;
        line-height: 36px;
        margin-top: 3vw;
        
    }
    .apresentation-box p {
        font-size: 18px;
        margin-top: 9vw;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        color: #666666;
    }

    .NewContentBox {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rightPlaceBottomBox {
        display: flex;
        flex-direction: row;
    }
}
