@media screen and (max-width: 450px){
    .rightPlace .podcastBox {
        position: absolute;
        width: 345px;
        height: 226px;
        left: 15px;
        top: 502px;
    }

    .rightPlace .podcastBox img {
        width: 100%;
    }

    .rightPlace .podcastBox h2 {
        position: absolute;
        width: 351px;
        height: 48px;
        top: 145px;
        margin-left: 10px;
    
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 21px;
        text-align: left;
    
        color: #FFFFFF;
    }

    .rightPlace .podcastBox p {
        position: absolute;
        height: 12px;
        top: 120PX;
        margin-left: 10px;
    
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-align: left;
    
        color: #FFFFFF;
    }

}

@media screen and (min-width: 451px){
    .rightPlace .podcastBox {
        margin-left: 24px;
        margin-bottom: 24px;
    }
    
    .rightPlace .podcastBox h2 {
        position: absolute;
        width: 398px;
        height: 48px;
        top: 652px;
        margin-left: 10px;
    
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        text-align: left;
    
        color: #FFFFFF;
    }
    
    .rightPlace .podcastBox p {
        position: absolute;
        height: 12px;
        top: 630px;
        margin-left: 10px;
    
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-align: left;
    
        color: #FFFFFF;
    }
}